/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.text-logo {
    padding:0;
    margin:0;
    display:inline-block
}
.list-header {
    background-color:#fff;
    font-weight:700
}
/*.list {*/
/*    background-color:#fff;*/
/*    user-select:none;*/
/*    transition:.1s;*/
/*    border-radius:2px;*/
/*    box-shadow:0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);*/
/*    border:3px transparent solid;*/
/*    cursor:pointer;*/
/*    color: rgb(71, 85, 105);*/
/*    position:relative*/
/*}*/
/*.list:hover {*/
/*    transform:scale(1.02);*/
/*    z-index:100;*/
/*    border:3px #ffc200 solid;*/
/*    text-decoration:none*/
/*}*/


.rating-info{
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.rating-info .logo-holder{
    padding-top: 1.5rem !important;
}

/*.rating-info .features-holder{*/
/*    padding-top: 0.2rem !important;*/
/*}*/

.vpn-table-additional-rating{
    padding-right: 0.4rem !important;
}

.new_product_description {
    font-size: 14px;
    /*max-width: 270px;*/
    font-weight: 400;
    line-height: 1.2;
}

.jumpy:active,
.nav-link:active,
.list:active {
    position:relative;
    top:1px
}
.list-no-zoom {
    transform:unset!important
}
.list-1 {
    border:3px #ffc200 solid;
    margin-top:10px!important
}
ul.features {
    margin:12px 0 4px;
    padding:0;
    list-style-type:none;
    font-size:14px
}
ul.features li {
    margin:0px 0
}

.advertorial-1 {
    color:#b3b3b3;
    font-family:arial;
    font-size:10px;
    text-transform:uppercase
}
.feature-red {
    color:red;
    font-weight:700;
    text-decoration:underline
}
.feature-red:hover {
    text-decoration:none
}
.os-icons-small {
    width:20px;
    margin:0 5px
}
.max-logo {
    max-width:175px!important
}
.list-logo {
    padding:0 40px
}
.advertorial-2 {
    font-size:18px
}
ol {
    padding:0;
    margin:0
}
ol li {
    list-style:decimal inside;
    line-height:1.5
}
.discount-60 {
    font-size:14px;
    line-height:16px
}
.discount-9 {
    font-size:9px
}
.img-limit {
    background-color:#efefef
}
.img-limit img {
    width:inherit!important
}
.action-box {
    background-color:#efefef
}
.text-blue {
    color:red
}
.no-side-padding {
    padding-right:0;
    padding-left:0
}
.redly {
    color:red;
    font-weight:700;
    text-decoration:underline
}
.redly:hover {
    color:red;
    font-weight:700;
    text-decoration:none
}
.hrefbtn {
    background-color:red;
    padding:12px 30px;
    color:#fff;
    border-radius:3px;
    display:block;
    text-align:center;
    font-weight:700;
    font-size:36px;
    text-decoration:none;
    text-transform:uppercase
}
.hrefbtn:hover {
    background-color:#e60000;
    text-decoration:none;
    color:#fff
}
.hrefbtn:active {
    position:relative;
    top:1px
}
.hrefpr {
    color:red;
    font-weight:700;
    text-decoration:underline
}
.hrefpr:hover {
    color:#e60000;
    text-decoration:none
}
.white-borders {
    border-left:6px solid #fff;
    border-right:6px solid #fff
}
#flipdown {
    display:inline-block
}
#flipdown .rotor-group:first-child {
    display:none
}
.img-shadow {
    border:solid 1px #555;
    background-color:#eed;
    box-shadow:0 0 10px rgba(0,0,0,.6)
}
.width-200 {
    max-width:200px
}
.hl-box {
    background:#efefef;
    padding:15px;
    margin-bottom:15px
}
.hl-box-green {
    border-left:7px solid #4abe35
}
.hl-box-red {
    border-left:7px solid #dc3545
}
.hl-box-purple {
    border-left:7px solid #8b65c7
}
.fdlink {
    color:red;
    font-weight:700;
    text-decoration:underline
}
.fdlink:hover {
    color:red;
    font-weight:700;
    text-decoration:none!important
}
.segoe {
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
}
ul.leftbullet li {
    position:relative;
    margin-left:4px;
    margin-bottom:8px
}
ul.leftbullet li::before {
    content:"»";
    position:absolute;
    left:-15px;
    top:-5px;
    font-weight:700;
    font-size:20px
}
.left-border-yellow {
    border-left:4px solid #ffc200;
    padding-left:16px
}
.max-width-5 {
    max-width:5%
}
.left-border-blue {
    border-left:4px solid #00aeef;
    padding-left:16px
}
.left-border-red {
    border-left:4px solid #ff003d;
    padding-left:16px
}
.left-border-yellow {
    border-left:4px solid #ffc200;
    padding-left:16px
}
.btn-custom {
    padding:20px 40px;
    font-size:20px;
    text-transform:uppercase;
    font-weight:700;
    box-shadow:0 6px 10px 0 rgb(226 22 23 / 20%);
    background-color:#e2223b
}
.width-32 {
    width:32px
}
.text-bottom {
    font-size:24px
}
.weight-100 {
    font-weight:100!important
}
.yanpix {
    position:absolute;
    left:-9999px
}
.nounderline {
    text-decoration:none!important
}
.left-hand::before {
    content:"\261B";
    position:absolute;
    left:-16px
}
.sans-serif {
    font-family:sans-serif
}
.margin-bottom-40 {
    margin-bottom:40px
}
.line-height-14 {
    line-height:14px
}
ul.ticks-exit li {
    text-align:left;
    padding-left:25px
}
ul.ticks-exit li::before {
    content:url(../pics/check-mark-16.png);
    position:absolute;
    left:15px;
    font-weight:700
}
ul.ticks-exit-jp li::before {
    content:'■'!important
}
.top3row img {
    width:unset!important
}
.image_in_article {
    max-width:95px;
    float:left;
    margin-right:20px
}


.topcircle {
    font-size:24px;
    border:4px #25aae1 solid;
    padding:10px;
    border-radius:50%
}
.d-rank {
    color:#3eb6c4;
    font-size:32px;
    font-weight:500;
    font-family:sans-serif
}
.d-border-lr {
    border-left:1px solid #f0f0f0;
    border-right:1px solid #f0f0f0
}
.d-arrow {
    max-width:32px;
    width:80%
}
.d-logo {
    max-width:225px;
    width:100%
}
.d-score {
    font-size:36px;
    width:auto;
    line-height:1.2;
    font-weight:700;
    color:#44484c
}
.d-rating {
    font-size:16px;
    text-transform:uppercase;
    line-height:1.2;
    font-weight:600;
    color:#44484c;
    /*font-family:serif*/
}
.d-read-review,
.d-read-review:hover {
    font-weight:200;
    color:#778897;
    font-size:12px;
    text-transform:uppercase
}

.max-240 {
    max-width:240px
}
.s16x16 {
    width:16px;
    height:16px
}

.usinglink {
    font-size: 14px;
    color: #1151d3;
}

.advertorial-1 {
    color:#b3b3b3;
    font-family:arial;
    font-size:10px;
    text-transform:uppercase
}

.os-icons-small {
    width:20px;
    margin:0 5px
}
.max-logo {
    max-width:175px!important
}
.list-logo {
    padding:0 40px
}
.advertorial-2 {
    font-size:18px
}
ol {
    padding:0;
    margin:0
}
ol li {
    list-style:decimal inside;
    line-height:1.5
}
.discount-60 {
    font-size:14px;
    line-height:16px
}
.discount-9 {
    font-size:9px
}
.img-limit {
    background-color:#efefef
}
.img-limit img {
    width:inherit!important
}
.action-box {
    background-color:#efefef
}
/*.text-blue {*/
/*    color:red*/
/*}*/
.no-side-padding {
    padding-right:0;
    padding-left:0
}
.redly {
    color:red;
    font-weight:700;
    text-decoration:underline
}
.redly:hover {
    color:red;
    font-weight:700;
    text-decoration:none
}

.os-icons-small {
    width: 20px;
    margin: 0 5px;
}

.arating {
    font-size:36px;
    color:#7b848e;
    font-weight:700;
    width:100%;
    font-family:serif;
    max-width:25px
}
.arating img {
    min-width:25px
}

.available-on-text {
    color: #6c737b;
    font-weight: 700;
    line-height: 18px;
    font-size: 14px;
    padding-right: 5px;
}

.price {
    color: #485151;
    font-size: 24px;
    font-weight: 500;
}

.list {
    background-color:#fff;
    user-select:none;
    /*box-shadow:0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);*/
    border:2px transparent solid;
    color: rgb(33, 37, 41);
    position:relative;
    border-radius: 6px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-box-shadow: 0 .125rem .3rem -0.0625rem rgba(0,0,0,.03),0 .275rem .75rem -0.0625rem rgba(0,0,0,.06);
    box-shadow: 0 .125rem .3rem -0.0625rem rgba(0,0,0,.03),0 .275rem .75rem -0.0625rem rgba(0,0,0,.06);
    cursor: pointer;
}
.list:hover {
    transform:scale(1.02);
    z-index:100;
    border:2px #9aa2a6 solid;
    text-decoration:none;

    -webkit-box-shadow: 0 .25rem .5625rem -0.0625rem rgba(0,0,0,.03),0 .275rem 1.25rem -0.0625rem rgba(0,0,0,.05);
    box-shadow: 0 .25rem .5625rem -0.0625rem rgba(0,0,0,.03),0 .275rem 1.25rem -0.0625rem rgba(0,0,0,.05);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.list-1:hover {
    border:2px #f57c00 solid;
}

.list-2:hover {
    border:2px #0292a5 solid;
}

.list-3:hover {
    border:2px #a933f1 solid;
}

.margin-0-auto {
    margin: 0 auto;
}

.font-12 {
    font-size: 12px;
}

.treangle-bg {
    position:absolute;
    top:0;
    right:0;
    content:"";
    width:0;
    height:0;
    border-style:solid;
    border-width:0 75px 75px 0;
    border-color:transparent #ffc200 transparent transparent;
    z-index:1
}
.ribbon-number-one {
    position:absolute;
    overflow:hidden;
    text-align:left;
    font-weight:400;
    color:#000;
    text-transform:uppercase;
    display:flex;
    align-items:center;
    font-size:12px;
    line-height:32px;
    z-index:1
}

.ribbon-number-one {
    left: -3px;
    top: -3px;
}
.top1 {
    background:#fff;
    color:#529fbc;
    border:1px solid #529fbc;
    padding:8px 12px
}
.top2 {
    border-top:15px solid #ffc200;
    border-right:15px solid transparent;
    border-bottom:15px solid #ffc200;
    float:right;
    width:30px;
    height:30px;
    margin-left:-4px
}
.ribbon-number-one img:first-child {
    margin-left:8px
}
.ribbon-number-one img:last-child {
    margin-right:8px
}
.ribbon-number-one img {
    width:16px;
    margin-top:-4px
}
.table-rating-date {
    color:#979797;
    width:100%;
    font-weight:400;
    font-size:12px
}
.box-gray {
    background-color:#f2f3f4;
    width:100%;
    border-radius:2px
}
.box-gray-right {
    font-size:16px
}
.table-rating-review {
    max-width:200px;
    margin:0 auto
}
.table-rating-review .table-rating-text,
.table-rating-review .table-rating-date {
    font-size:16px
}
.table-rating-review .table-rating-number {
    font-size:48px
}
.poll-table {
    border:1px #505050 solid;
    border-collapse:collapse;
    width:100%
}
.text-700 {
    font-weight:700
}
.box-user-rating {
}
.user-rating-number {
    font-size:64px;
    line-height:64px;
    text-transform:uppercase
}
.userreviews-rating {
    width:100%
}

.vendor__position {
    position:absolute;
    padding:6px 14px;
    height:29px;
    /*width:35px;*/
    width: auto;
    background:no-repeat padding-box #37474F80;
    letter-spacing:0;
    color:#fff;
    z-index:2;
    font-style:normal;
    font-weight:700;
    font-size:16px;
    line-height:18px;
    font-family:Cabin,Arial,Sans-Serif;
    top: -2px;
    left:-2px;
    border-radius:6px 0
}
.vendor-1 .vendor__position {
    color:#fff;
    background:no-repeat padding-box #f57c00;
    padding:6px 14px;
    height:29px
}

.vendor-1-status .vendor__position {
    color:#fff;
    background:no-repeat padding-box #f57c00;
    padding:6px 14px;
    height:29px;
    border-radius:6px 0 6px 0;
}

.vendor-2 .vendor__position {
    color:#fff;
    background:no-repeat padding-box #0292a5;
    padding:6px 14px;
    height:29px
}

.vendor-2-status .vendor__position {
    color:#fff;
    background:no-repeat padding-box #0292a5;
    padding:6px 14px;
    height:29px;
    border-radius:6px 0 6px 0;
}

.vendor-3 .vendor__position {
    color:#fff;
    background:no-repeat padding-box #a933f1;
    padding:6px 14px;
    height:29px
}

.vendor-3-status .vendor__position {
    color:#fff;
    background:no-repeat padding-box #a933f1;
    padding:6px 14px;
    height:29px;
    border-radius:6px 0 6px 0;
}

.status-descr{
    padding-left: 10px;
}

.ribbon-number {
    position:absolute;
    overflow:hidden;
    left: 33px;
    top: -2px;
    width: auto;
    height: 33px;
    display:flex;
    z-index: 100;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #37474F80;
}
.ribbon-number span {
    width: 0;
    position: absolute;

    height: 0;
    border-style: solid;
    border-left-color: #37474F80;
    background-color: transparent;
    border-width: 30px 0 0px 20px;

}
.ribbon-number h2{
    display: inline-block;
    margin: 0;
    padding: 0 10px 0 15px;
    line-height: 26px;
    font-size: 17px;
    font-weight:600;
    color: #FFF;
    height: 30px;
    box-sizing: border-box;
}

.ribbon-number-1 {
    position:absolute;
    overflow:hidden;
    left: 33px;
    top: -2px;
    width: auto;
    height: 29px;
    display:flex;
    z-index: 100;
    border-bottom-right-radius: 6px;
    background-color: #f57c00;
}
.ribbon-number-1 span {
    width: 0;
    position: absolute;

    height: 0;
    border-style: solid;
    border-left-color: #f57c00;
    background-color: transparent;
    border-width: 30px 0 0px 20px;

}
.ribbon-number-1 h2{
    display: inline-block;
    margin: 0;
    padding: 0 10px 0 0px;
    line-height: 26px;
    font-size: 17px;
    font-weight:600;
    color: #FFF;
    height: 30px;
    box-sizing: border-box;
}



.ribbon-number-2 {
    position:absolute;
    overflow:hidden;
    left: 33px;
    top: -2px;
    width: auto;
    height: 29px;
    display:flex;
    z-index: 100;
    border-bottom-right-radius: 6px;
    background-color: #0292a5;
}

.ribbon-number-2 span {
    width: 0;
    position: absolute;

    height: 0;
    border-style: solid;
    border-left-color: #0292a5;
    background-color: transparent;
    border-width: 30px 0 0px 20px;
}

.ribbon-number-2 h2{
    display: inline-block;
    margin: 0;
    padding: 0 10px 0 0px;
    line-height: 26px;
    font-size: 17px;
    font-weight:600;
    color: #FFF;
    height: 30px;
    box-sizing: border-box;
}

.ribbon-number-3 {
    position:absolute;
    overflow:hidden;
    left: 33px;
    top: -2px;
    width: auto;
    height: 29px;
    display:flex;
    z-index: 100;
    border-bottom-right-radius: 6px;
    background-color: #a933f1;
}

.ribbon-number-3 span {
    width: 0;
    position: absolute;

    height: 0;
    border-style: solid;
    border-left-color: #a933f1;
    background-color: transparent;
    border-width: 30px 0 0px 20px;
}

.ribbon-number-3 h2{
    display: inline-block;
    margin: 0;
    padding: 0 10px 0 0px;
    line-height: 26px;
    font-size: 17px;
    font-weight:600;
    color: #FFF;
    height: 30px;
    box-sizing: border-box;
}


.sidebar-widget img{
    height: 28px;
    width: 110px;
    max-width: 110px;
}

.desc-public-list img{
    height: 40px;
    width: 155px;
    max-width: 155px;
}

.vpn-table-additional-rating{
    margin: 12px 0px 0px 0px;
    font-size: 0.84rem;
    font-weight:600;
}

.vpn-table-entry-rate{
    width: 164px;
    display: block;
    border: 0px solid;
}

.vpn-table-rate-descr{
    line-height: 1;
    font-size: 0.84rem;
    font-weight:600;
    width: 58%;
}

.vpn-table-rating-value{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.1rem;
    float: left;
    height: 16px;
    width: 42%;
    border: 0px solid;
}

.vpn-table-rating-bar{
    position: relative;
    display: block;
    float: left;
    height: 16px;
    width: 58%;
    
}

.vpn-table-rating-rate{
    display: block;
    float: right;
    width: 42%;
    height: 20px;
    vertical-align: center;
    line-height: 1.2;
    text-align: right;
    padding-left: 5px;
    
}

.check-list-wrap li{
    border-bottom: 1px solid #dfdfdf;
    color: #44484c;
    vertical-align: middle;
    position: relative;
    padding: 0.2rem 0 0.2rem 0;
    padding-right: 0px;
    line-height: inherit;
}

/*.vpn-table-check-list-wrap li{*/
    
/*    color: #44484c;*/
/*    vertical-align: middle;*/
/*    position: relative;*/
    /*padding: 0.2rem 0 0.2rem 0;*/
/*    padding-right: 0px;*/
/*    line-height: inherit;*/
/*}*/

.vpn-table-check-list-wrap.list-two-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
}

.vpn-table-check-list-wrap.list-two-col li {
    /*-webkit-box-flex: 1;*/
    /*-ms-flex: 1 1 50%;*/
    /*flex: 1 1 50%;*/
    /*max-width: 40%;*/
    /*padding-right: 15px;*/
}

.check-list-wrap.list-two-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
}

.check-list-wrap.list-two-col li {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    max-width: 50%;
    padding-right: 15px;
}


.entry-rate{
    width: 164px;
    display: block;
    border: 0px solid;
}

.entry-rate-descr{
    line-height: 1.0;
}

.rating-bar{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.1rem;
    float: left;
    height: 20px;
    width: 115px;
    border: 0px solid;
}

.rating-rate{
    display: block;
    float: right;
    width: 45px;
    height: 20px;
    vertical-align: center;
    line-height: 1.0;
    flex-basis: 45px;
    text-align: right;
    border: 0px solid;
}

.rating{
    align-content: center;
    /*margin-top: 8px;*/
}


.rating .stars {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*float: left;*/
    height: 20px;
    width: 105px;
    background-image: url("../images/stars.png");
    background-position: 0 0;
    background-repeat: repeat-x;
    /*margin-right: 5px;*/
}
.rating .stars .on {
    height: 20px;
    background-image: url("../images/stars.png");
    background-position: 0 -20px;
}
.rating .stars .live {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.rating .stars .live span {
    display: block;
    float: left;
    /*cursor: pointer;*/
    width: 21px;
    height: 20px;
    background-image: url("../images/stars.png");
    background-repeat: no-repeat;
    background-position: 0 -20px;
}



.wss-scoreRow-772925660 {
    display:flex;
    align-items:center;
    justify-content:space-between
}
.wss-multiScoreText-3728111154 {
    font-size:14px;
    color: #44484c;
    font-weight:700
}
.wss-multiScoreNumber-3513817667 {
    color:#00a28b;
    width:35px;
    border:3px solid #00a28b;
    height:35px;
    display:flex;
    font-size:13px;
    margin-top:5px;
    align-items:center;
    font-weight:600;
    border-radius:50px;
    justify-content:center
}

.wss-frontCircle-3891644919 {
    color:#00a28b;
    grid-row:2/3;
    position:relative;
    grid-column:2/3;
    background-color:transparent
}
.wss-backCircle-2317161577 {
    color:#dcdcdc;
    grid-row:2/3;
    grid-column:2/3;
    background-color:transparent
}

.wss-rt_container-1819568874 {
    /*display:grid;*/
    /*grid-gap:4px;*/
    /*align-items:center;*/
    /*justify-content:center;*/
    /*grid-template-rows:auto 80px auto;*/
    /*grid-template-columns:auto 80px auto*/
}
@media (min-width:960px) {
    .wss-rt_container-1819568874 {
        grid-template-rows:auto 40px auto;
        grid-template-columns:auto 40px auto
    }
}

.wss-ratingContainer-58417206 {
    width:100%;
    display:flex;
    grid-row:1/2;
    margin-top:5rem;
    align-items:center;
    grid-column:1/5;
    flex-direction:column;
    justify-content:center;
    background-color:#36c96808
}
@media (min-width:960px) {
    .wss-ratingContainer-58417206 {
        grid-row:1/4;
        margin-top:0;
        grid-column:4/5;
        background-color:initial
    }
}
@media (max-width:959.95px) {
    .wss-ratingContainer-58417206 {
        right:17px;
        position:relative;
        direction:ltr;
        align-items:flex-end
    }
}
.wss-ratingContainer-58417206>div {
    background:#fff;
    border-radius:100%
}
@media (max-width:1279.95px) {
    .wss-ratingContainer-58417206>div {
        box-shadow:0 0 6pt 2px #00000029
    }
}
.wss-ratingText-1106378931 {
    display:flex;
    grid-row:2/3;
    font-size:28px;
    align-items:center;
    font-weight:700;
    grid-column:2/3;
    justify-content:center;
    background-color:transparent
}
@media (min-width:960px) {
    .wss-ratingText-1106378931 {
        font-size:14px
    }
}
@media (max-width:1279.95px) {
    .wss-ratingText-1106378931 {
        font-size:30pt;
        font-weight:500
    }
}

.box {
    display: block;
    opacity: 1;
}

.box2 {
    display: block;
    opacity: 1;
}

.box-hidden {
    display: none;
}

/* ensure box is displayed block during the transition  */
.box-transition.box-hidden {
    display: block;
    opacity: 0;
}

.box-transition {
    transition: opacity 1s ease;
}

.text-center {
    text-align: center !important;
}




@import url(https://fonts.googleapis.com/css?family=Lato:700);
*,
*:before,
*:after {
    box-sizing: border-box;
}


.set-size {
    font-size: 10em;
}

.charts-container:after {
    clear: both;
    content: "";
    display: table;
}

.pie-wrapper {
    height: 1em;
    width: 1em;
    float: left;
    margin: 15px;
    position: relative;
}
.pie-wrapper:nth-child(3n+1) {
    clear: both;
}
.pie-wrapper .pie {
    height: 100%;
    width: 100%;
    clip: rect(0, 1em, 1em, 0.5em);
    left: 0;
    position: absolute;
    top: 0;
}
.pie-wrapper .pie .half-circle {
    height: 100%;
    width: 100%;
    border: 0.1em solid #3498db;
    border-radius: 50%;
    clip: rect(0, 0.5em, 1em, 0);
    left: 0;
    position: absolute;
    top: 0;
}
.pie-wrapper .label {
    background: #34495e;
    border-radius: 50%;
    bottom: 0.4em;
    color: #ecf0f1;
    cursor: default;
    display: block;
    font-size: 0.25em;
    left: 0.4em;
    line-height: 2.8em;
    position: absolute;
    right: 0.4em;
    text-align: center;
    top: 0.4em;
}
.pie-wrapper .label .smaller {
    color: #bdc3c7;
    font-size: 0.45em;
    padding-bottom: 20px;
    vertical-align: super;
}
.pie-wrapper .shadow {
    height: 100%;
    width: 100%;
    border: 0.1em solid #bdc3c7;
    border-radius: 50%;
}
.pie-wrapper.style-2 .label {
    background: none;
    color: #7f8c8d;
}
.pie-wrapper.style-2 .label .smaller {
    color: #bdc3c7;
}
.pie-wrapper.progress-30 .pie .half-circle {
    border-color: #3498db;
}
.pie-wrapper.progress-30 .pie .left-side {
    transform: rotate(108deg);
}
.pie-wrapper.progress-30 .pie .right-side {
    display: none;
}
.pie-wrapper.progress-60 .pie {
    clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-60 .pie .half-circle {
    border-color: #9b59b6;
}
.pie-wrapper.progress-60 .pie .left-side {
    transform: rotate(216deg);
}
.pie-wrapper.progress-60 .pie .right-side {
    transform: rotate(180deg);
}
.pie-wrapper.progress-90 .pie {
    clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-90 .pie .half-circle {
    border-color: #e67e22;
}
.pie-wrapper.progress-90 .pie .left-side {
    transform: rotate(324deg);
}
.pie-wrapper.progress-90 .pie .right-side {
    transform: rotate(180deg);
}
.pie-wrapper.progress-45 .pie .half-circle {
    border-color: #1abc9c;
}
.pie-wrapper.progress-45 .pie .left-side {
    transform: rotate(162deg);
}
.pie-wrapper.progress-45 .pie .right-side {
    display: none;
}
.pie-wrapper.progress-75 .pie {
    clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-75 .pie .half-circle {
    border-color: #8e44ad;
}
.pie-wrapper.progress-75 .pie .left-side {
    transform: rotate(270deg);
}
.pie-wrapper.progress-75 .pie .right-side {
    transform: rotate(180deg);
}
.pie-wrapper.progress-95 .pie {
    clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-95 .pie .half-circle {
    border-color: #e74c3c;
}
.pie-wrapper.progress-95 .pie .left-side {
    transform: rotate(342deg);
}
.pie-wrapper.progress-95 .pie .right-side {
    transform: rotate(180deg);
}

.pie-wrapper--solid {
    border-radius: 50%;
    overflow: hidden;
}
.pie-wrapper--solid:before {
    border-radius: 0 100% 100% 0/50%;
    content: "";
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
}
.pie-wrapper--solid .label {
    background: transparent;
}
.pie-wrapper--solid.progress-65 {
    background: linear-gradient(to right, #e67e22 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-65:before {
    background: #e67e22;
    transform: rotate(126deg);
}
.pie-wrapper--solid.progress-25 {
    background: linear-gradient(to right, #9b59b6 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-25:before {
    background: #34495e;
    transform: rotate(-270deg);
}
.pie-wrapper--solid.progress-88 {
    background: linear-gradient(to right, #3498db 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-88:before {
    background: #3498db;
    transform: rotate(43.2deg);
}

@media (min-width: 992px) {
    .rating-info .column-1 {
        flex: 0 0 auto;
        width: 19%;
    }
    .rating-info .column-2 {
        flex: 0 0 auto;
        width: 40%;
    }
    .rating-info .column-3 {
        flex: 0 0 auto;
        width: 23%;
    }
    .rating-info .column-4 {
        flex: 0 0 auto;
        width: 18%;
        border-left: 1px solid #e7e5e5;
    }
}

@media (min-width: 992px) {
    .rating-info .add-column-1 {
        flex: 0 0 auto;
        width: 19%;
    }
    .rating-info .add-column-2 {
        flex: 0 0 auto;
        width: 32%;
    }
    .rating-info .add-column-3 {
        flex: 0 0 auto;
        width: 30%;
    }
    .rating-info .add-column-4 {
        flex: 0 0 auto;
        width: 19%;
    }
}

@media (min-width: 992px) {
    .pl-2 {
        padding-left: 1.5rem !important;
    }
}



.wrap {
    position:relative;
    overscroll-behavior:none;
}

.feature {
    background-color: #ffffff;
    padding: 1.1rem;
    border-radius: 6px;
    border: 2px transparent solid;
    -webkit-box-shadow: 0 .125rem .3rem -0.0625rem rgba(0,0,0,.03),0 .275rem .75rem -0.0625rem rgba(0,0,0,.06);
    box-shadow: 0 .125rem .3rem -0.0625rem rgba(0,0,0,.03),0 .275rem .75rem -0.0625rem rgba(0,0,0,.06);
    cursor: pointer;
    color: rgb(33, 37, 41);
    font-size: 15px;
    font-weight: 400;
    /*line-height: 18px*/
}

.comparion-scroll-table{
    background-color: #fff;
    padding: 1.1rem;

    border-radius: 6px;
    border: 2px transparent solid;
    -webkit-box-shadow: 0 .125rem .3rem -0.0625rem rgba(0,0,0,.03),0 .275rem .75rem -0.0625rem rgba(0,0,0,.06);
    box-shadow: 0 .125rem .3rem -0.0625rem rgba(0,0,0,.03),0 .275rem .75rem -0.0625rem rgba(0,0,0,.06);
    cursor: pointer;
}

.heading {
    /*display:flex;*/
    justify-content:center;
    align-items:center;
    /*position:-webkit-sticky;*/
    /*position:sticky;*/
    /*top:0;*/
    background:#fff;
    /*padding:8px 0;*/
    z-index:1;
    width:150px
}

.headers {
    top:0;
    position:-webkit-sticky;
    position:sticky;
    z-index:7;
    /*margin-bottom:85px;*/
    background: #fff;
}
.headers .track {
    display:flex;
    align-content:center;
    justify-content:center;
    border:0
}

.scroller {
    overflow-x: hidden;

}

.scroller,
.tracks {
    display:flex;
    overflow-y:hidden;
    -webkit-overflow-scrolling:touch;
    text-align:center;
    /*position:relative;*/
    /*scroll-snap-type: none;*/
}

.syncscroll {
    height: 100%;
}

.tracks {
    text-align:center;
    position:relative;
    /*margin-top: -65px;*/
    scroll-snap-type:none;

}

.track:first-child {
    background-color: #ffffff;
    text-align:left;
    position:sticky;
    position:-webkit-sticky;
    top:0;
    left:0;
    z-index:6
}
/*.entry:nth-child(odd) {*/
/*    background-color:#fff*/
/*}*/
/*.entry:nth-child(even) {*/
/*    background-color:#f5f5f5*/
/*}*/
.scenes::-webkit-scrollbar,
.scroller::-webkit-scrollbar {
    display:block;
    position:sticky;
    top:0
}

.track {
    flex:1 0 calc(15% + 2px);
    scroll-snap-align:start;
    margin-right:0!important
}


.first_track .entry {
    justify-content:flex-start!important;
    align-items:center!important;
    padding-left:20px;
    flex-direction:row!important
}

.entry {
    /*line-height: 16px;*/
    display: flex;
    height: 40px;
    color:#44484c;
    background: #fff;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}

.entry p {
    /*line-height:1.5;*/
    display:inline-block;
    vertical-align:middle;
    margin-bottom:0
}

/*.entry span {*/
/*    background:#51af00;*/
/*    width:27px;*/
/*    float:left;*/
/*    position:relative;*/
/*    height:100%;*/
/*    !*border-radius:3px;*!*/
/*    !*margin-right:5px*!*/
/*}*/
.entry span:before {
    content:" "
}

.check-status{

}

.table_category {
    height: 50px;
    font-size:16px;
    font-weight:700;
    /*background-color:#f4f4f4!important;*/
    background-color: #f1f3f5;
    color:#44484c;
    padding-left:10px!important
}

.table-grade {
    height:15px;
    margin-top:5px
}


.sgv_comparion-table-info {
    display:none
}
@media only screen and (max-width:1199px) {
    .sgv_comparion-table-info {
        background:#fff;
        font-size:12px;
        padding:2px 0;
        text-transform:uppercase;
        display:block;
        padding-left:20%;
        text-align:center
    }
    .track {
        flex:1 0 calc(20% + 2px)
    }
}
@media only screen and (max-width:992px) {
    .sgv_comparion-table-info {
        padding-left:33%
    }
    .track {
        flex:1 0 calc(33.333% + 2px);
        margin-right:0
    }
}
@media only screen and (max-width:767px) {
    .sgv_comparion-table-info {
        padding-left:50%
    }
    .track {
        flex:1 0 calc(50% + 2px)
    }
}
.sgv_line-chart-wrapper {
    position:relative;
    margin:auto;
    height:100%;
    min-height:320px;
    max-height:400px;
    width:100%
}
.sgv_tooltip-review {
    max-width:240px
}
.sgv_bubble-sign {
    width:20px;
    height:20px;
    left:-15px;
    top:45%;
    transform:rotate(45deg) translateY(-50%)
}
@media only screen and (max-width:509px) {
    .sgv_tooltip-review {
        margin-top:20px!important
    }
    .sgv_bubble-sign {
        top:0;
        left:0
    }
}


[data-value="10"] .graph__item:nth-of-type(-n+10), [data-value="9"] .graph__item:nth-of-type(-n+9), [data-value="8"] .graph__item:nth-of-type(-n+8), [data-value="7"] .graph__item:nth-of-type(-n+7), [data-value="6"] .graph__item:nth-of-type(-n+6), [data-value="5"] .graph__item:nth-of-type(-n+5), [data-value="4"] .graph__item:nth-of-type(-n+4), [data-value="3"] .graph__item:nth-of-type(-n+3), [data-value="2"] .graph__item:nth-of-type(-n+2), [data-value="1"] .graph__item:nth-of-type(-n+1) {
    background: #f57c00;
}

.graph {
    /*background: whitesmoke;*/
    display: block;
    width: 60%;
    margin: 1rem auto;
}
.graph:before {
    content: attr(data-value);
}
.graph__container {
    display: inline-block;
    width: 100%;
}
.graph__item {
    display: inline-block;
    width: 12%;
    height: 14px;
    background: #dedede;
    /*border-right: 1px solid whitesmoke;*/
    border-radius: 5px;
}

.popup {
    position: relative;
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
    color: #44484c;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Фактическое всплывающее окно */
.popup .popuptext {
    visibility: hidden;
    width: 360px;
    background-color: #555;
    color: #fff;
    font-size: 1rem;
    line-height: 1.2;
    text-align: center;
    border-radius: 6px;
    padding: 10px 10px;
    position: absolute;
    z-index: 999;
    bottom: 125%;
}

.popup .popuptext2 {
    visibility: hidden;
    width: 360px;
    background-color: #555;
    color: #fff;
    font-size: 1rem;
    line-height: 1.2;
    text-align: left;
    border-radius: 6px;
    padding: 10px 10px;
    position: absolute;
    z-index: 999;
    bottom: 125%;
}

@media (min-width: 1381px) {
    .popup .popuptext {
        width: 360px;
        left: 0%;
        margin-left: -100px;
    }
}

@media (min-width: 768px) and (max-width: 1380px) {
    .popup .popuptext {
        width: 360px;
        left: 0%;
        margin-left: -200px;
    }
}

@media screen and (max-width: 767px) {
    .popup .popuptext {
        position: fixed;
        width: 100%;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
}
/* Всплывающее окно со стрелками */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Переключите этот класс - скрыть и показать всплывающее окно */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Добавить анимацию (исчезает во всплывающем окне) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}


.features .feature {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 0.6rem;
    transition: all 0.3s ease-in-out;
    margin: 0 0 30px 0;
    padding: 20px 20px;
    height: 156px;

    text-align: center;
    box-shadow: 0 .25rem .5625rem -0.0625rem rgba(0,0,0,.03),0 .275rem 1.25rem -0.0625rem rgba(0,0,0,.05);
    /*color: #eee;*/
}

.features .feature:hover{
    transform:scale(1.02);
    z-index:100;
    /*border:2px #0542b3 solid;*/
    border:2px rgba(217,55,64,0.88) solid;
    text-decoration:none;

    -webkit-box-shadow: 0 .25rem .5625rem -0.0625rem rgba(0,0,0,.03),0 .275rem 1.25rem -0.0625rem rgba(0,0,0,.05);
    box-shadow: 0 .25rem .5625rem -0.0625rem rgba(0,0,0,.03),0 .275rem 1.25rem -0.0625rem rgba(0,0,0,.05);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.feature h5{
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #5f6365;
}

.feature .entry-logo{
    height: auto;
}

.feature .entry-logo img{
    max-height: 40px;
}

.bg-rating-bar-green {
    background-color: #72bd46 !important;
}

.streaming-icons-small{
    height: 24px;
}

.no-decor-link{
    text-decoration: none;
    color: rgb(68, 72, 76);
}

.no-decor-link:hover{
    text-decoration: none;
    color: #0244bf;
}
